body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.container h1 {
  color: white;
  margin-bottom: 30px;
}

.toggle-container {
  margin: 20px;
}

.toggle-checkbox {
  display: none;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  background-color: blue;
}

.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: 0;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 50px; /* Width of the entire toggle */
  height: 25px; /* Height of the entire toggle */
}

.toggle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%; /* Starts from the middle to the right */
  background-color: grey;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.toggle-switch {
  position: absolute;
  top: 2px; /* Slightly smaller to create a border effect */
  right: 50%; /* Start from the middle to the left */
  bottom: 2px; /* Slightly smaller to create a border effect */
  left: 2px; /* Space for the border */
  background-color: white;
  border-radius: 50%;
  transition: right 0.3s;
}

#start-button {
  background-color: yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

#start-button:hover {
  background-color: #ffeb3b;
}